


<div class='searchIdsService' style='height: 80%' >
  <%= simple_form_for :search, method: "get" do |f| %>
    <h4 style='color: white;
    font-size: 84px;'> What are you looking for ? </h4>
    <div style="display: flex; flex-wrap: wrap; width: 100%; margin: 10%% auto;height: 54%;">
        <% @services.each do |service|  %>
                <h4 class='serviceIcon'data-id="<%= service.id %>" data-name="<%=service.name%>" style="width:25%; height:100px; color:white; margin: 0; text-align: center">
                <%= image_tag service.icon, alt: service.name, width: 150  %>
                </h4>
        <% end %>
    </div>
    <h4 style='color: white;font-size: 84px;'> When ? </h4>
    <%= f.input :starts_at, as: :string, required: false, input_html: {class: "datepicker"} %>
    <%= f.input :search, input_html: {class: "searchServiceInput hidden"}%>

   
    <%= submit_tag "Search", :name => nil, class: 'searchServicesubmit' %>
    <% end %>
</div>
