<div class='top-page'>
    
    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= f.error_notification %>
        <div class="statusSelect">
            <div class='statusChoice'>
                <h3>Seeker</h3>
            </div>
            <div class='statusChoice'>
                <h3>Worker</h3>
            </div>
        </div>
        <%= f.input :status, required: true, autofocus: true, input_html: { class: 'status' }%>
        <div class="infos SignUp hidden">
            <h3> What is your first name ? </h3>
            <%= f.input :first_name, required: true, autofocus: true %>
            <h3> What is your last name ? </h3>
            <%= f.input :last_name, required: true, autofocus: true %>
                <div class='workidsQuestion hidden'>
                    <h3> How old are you ? </h3>
                    <%= f.input :age, required: true, autofocus: true, input_html: {value: '1'} %>
                </div>
            <h3> What is your postal address? </h3>
            <%= f.input :address, required: true, autofocus: true %>
            <h3> What is your Email ? </h3>
            <%= f.input :email, required: true, autofocus: true %>
            <h3> What is your password ? </h3>
            <%= f.input :password, required: true, autofocus: true %>
            <h3> What is your phone number ? </h3>
            <%= f.input :phone_number, required: true, autofocus: true %>
        </div>

        <div class="profil SignUp hidden">
            <h3> <i class="fas fa-user-circle"></i> </h3>
                <%= f.input :photo, as: :file %>
            <h3> Description </h3>
                <%= f.input :description, required: true, autofocus: true %>
        </div>
        <%= f.button :submit, "S'inscrire", class: 'btn btn-primary mb-2 validationSignup hidden' %>

    <% end %>
</div>
<div class='bottom-page'>
  <div class='nextButton'><i class="fas fa-angle-double-right"></i></div>
    <div class="step" style="display: none" data-step="1"></div>

</div>