<div id='DateAvailability'>
<h3> My availability </h3>
    <% if @user.availability == [] %>
        <p> no availability</p>
    <% else %>
    <div class='cards'>
        <%@arrayof5day.each do |date| %>
             <% if @availabilitiesOfTheWeek.include?(date)%>
                 <div class='card-date'>
                    <div class='card-date-top'  style='background-color: #33CA7F'>
                         <p> <%=date.strftime("%A")%> </p>
                    </div>
                     <div class='card-date-bottom' style='background-color: #33CA7F'>
                        <h3> <%=date.day%></h3>
                    </div>
                </div>

             <% else %>
                <div class='card-date'>
                    <div class='card-date-top'  style='background-color: #FF686B'>
                        <p> <%=date.strftime("%A")%> </p>
                    </div>
                    <div class='card-date-bottom' style='background-color: #FF686B'>
                        <h3> <%=date.day%></h3>
                    </div>
                </div>
             <%end%>
        <% end %>
    </div>
    <%end%>
<%= link_to new_availability_path do %>
    <i class="fas fa-plus-circle"></i>
<%end%>
</div>