<div class='navbar'>
    <% if @user.photo.attached? %>
        
        <div class="dropdown">
            <%= cl_image_tag @user.photo.key, alt: @user.first_name, class:'avatar'  %>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Action</a>
                <a class="dropdown-item" href="#">Another action</a>
                <a class="dropdown-item" href="#">Something else here</a>
            </div>
        </div>
    <% else %>

        <div class="dropdown">
            <img class="avatar dropdown-toggle" id="navbarDropdown" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" src="https://i.pinimg.com/originals/51/f6/fb/51f6fb256629fc755b8870c801092942.png" />
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                <a class="dropdown-item" href="#">Profil</a>
                <%= link_to 'Se déconnecter', destroy_user_session_path, :method => :get, class: "dropdown-item" %>
            </div>
        </div>
    <% end %>
    <i class="fas fa-envelope"></i>
</div>

<div class='dashboard'>
    <% if @user.status == "Worker" %>
        <%= render "availability", arrayof5day: @arrayof5day, availabilitiesOfTheWeek: @availabilitiesOfTheWeek, user: @user %>
        <%= render "appointment_asking", user: @user %>

    <% else %>
        <%= render "appointment_asking", user: @user %>
    <% end %>

    

    <div id='Contact'>
        <h3> My availability </h3>
    </div>
</div>