<!DOCTYPE html>
<html>
  <head>
    <title>Workids</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>
    <div class="container">
      <%= render 'shared/flashes' %>
      <%= yield %>
    </div>
  </body>
  <%= javascript_pack_tag "application" %>    <!-- from app/javascript/packs/application.js -->
</html>
